services:
  postgres:
    image: 'postgres:latest'
    env_file:
      - .env
    environment:
      - 'POSTGRES_DB=${POSTGRES_DB}'
      - 'POSTGRES_PASSWORD=${POSTGRES_PASSWORD}'
      - 'POSTGRES_USER=${POSTGRES_USER}'
    ports:
      - '${POSTGRES_PORT}:5432'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: ${APP_BUILD_TARGET:-prod}
    env_file:
      - .env
    environment:
      - 'SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}'
      - 'SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME}'
      - 'SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}'
    ports:
      - '${APP_PORT}:8080'
    depends_on:
      postgres:
        condition: service_healthy
