spring:
  application:
    name: kata
  profiles:
    active: local
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
  flyway:
    enabled: true
    locations: classpath:db/migration
